#menu1{
 position: relative;
 display: block;
 width: 100%;
 height: auto;
 z-index: 10;
repeat: no-repeat;
}
#menu1 ul{
 position: relative;
 display: block;
 margin: 0px;
 padding: 0px;
 width: 100%;
 height: auto;
 list-style: none;
}
#menu1 > ul::after{
 display: block;
 width: 100%;
 height: 0px;
 clear: both;
 content: " ";
}
#menu1 ul li{
 position: relative;
 display: block;
 float: left;
 width: auto;
 height: auto;
}
#menu1 ul li a{
 display: block;
 padding: 9px 25px 0px 25px;
 font-size: 14px;
 line-height: 1.3em;
 text-decoration: none;
 font-weight: bold;
 text-transform: uppercase;
 height: 36px;
  box-sizing: border-box;
 color: black;
}
#menu1 ul li ul{
 position: absolute;
 top: 36px;
 left: 0px;
 display: none;
 width: 200px;
 background: #38b6ff;
}
#menu1 ul li:hover ul{
 display: block;
}
#menu1 ul li ul li{
 float: none;
 width: 100%;
}
#menu1 ul li ul li a{
 display: block;
 text-transform: none;
 height: auto;
 padding: 7px 25px;
 width: 100%;
 box-sizing: border-box;
 border-top: 1px solid #ffffff;
 color: white;
}
#menu1 ul li ul li:first-child a{
 border-top: 0px;
}
body{
background:url(https://phonoteka.org/uploads/posts/2022-02/1644015873_1-phonoteka-org-p-zadnii-fon-dota-1.jpg)
}
main{
 background-repeat: no-repeat;
 background-size:cover;
 background-attachment:fixed;

}
p{
  margin: 15px;
  padding: 15px;
  box-shadow:0 0 5px 5px #000;
  border-radius: 10px
}
.custom-class {
      background: #FF8C42;
}
#custom-id { 
  background: #FFF275;}
  *,body{
    margin: 0;
    padding: 0;
}

header{
  background: gree;
  padding:10px
}
nav{
  background: #fcf7fb;
}
main{
  background: #519872;
}
footer{
  position: absolute; 
}
nav > ul {
  display: flex;
  list-style:none;
  justify-content: space-evenly;
  align-items: center;
  margin: 1px;
    
}
nav li {
  padding: 15px;
}
a{
  color:#fff;
  text-decoration: none;
}
nav li:hover {
  background: #c5d0e6;
}
img{
  width: 150px;
 
}